<section id="contact" style="background-color: rgb(255, 255, 255)">
    <div class="title" style="padding: 30px;">Contact</div>
    <div class="container" style="justify-content: center;">
    <div style="width: 1500px; justify-content: center; height: 100%;"><hr id="linea"></div>
    </div>
    <div class="container" style="justify-content: center;">
    <div class="container" style="justify-content: space-around; align-items: center; width: 1200px;">
  
      <div class="contacts" style="width: 700px;">
    <a style="margin-right: 50px;" href="https://www.linkedin.com/in/damian-dubra-8457a21a6/"><img class="company-photo" src="/assets/img/Linkedin logo.png"></a>
    <a style="margin-right: 50px;" href="https://www.facebook.com/dami.dubra.5"><img class="company-photo" src="/assets/img/face.png"></a>
    <a href="https://www.instagram.com/dami_dubra/"><img class="company-photo" src="/assets/img/instagram.webp"></a>
    </div>
    
    
      
    <div class="contacts" style="width: 700px;">
      <div class="socials" style="display: row;">
        <div style="display: flex;"><img  class="company-photo" style="height: 50px ; align-self: center; margin-right: 20px;" src="/assets/img/wpp.png"><h2>(+54) 11 2537-2402</h2></div>
        <div style="display: flex;"><img  class="company-photo" style="height: 50px ; align-self: center; margin-right: 20px;" src="/assets/img/mail.png"><h2>dubra.damian@gmail.com</h2></div>
      </div>
      </div>
  
    </div>
  
    </div>
    
  </section >
