<div class="mini-card" [ngStyle]="{ 'height': isAdmin ? '315px' : '' }">
    <div style= "display: flex;">
      <a href="https://www.frd.utn.edu.ar/"><img class="company-photo" src="/assets/img/utn.jpg"></a>
    <h2 class="title" style="margin-left: 50px;"> {{carta?.title}}</h2>
    </div>
    
    <p>{{carta?.texto}}</p>
    <li>{{carta?.texto10}}</li>
    <li>{{carta?.texto2}}</li>
    <li>{{carta?.texto3}}</li>
    <li>{{carta?.texto4}}</li>
    <hr *ngIf="isAdmin" class="line">
    <div style="display: flex;justify-content: space-around;"><td *ngIf="isAdmin"><button class="button buttongreen" routerLink="/editar/{{carta?.id}}"> Editar</button></td>
      <td *ngIf="isAdmin"><button class="button buttonred" (click)="borrar(carta?.id)">Eliminar</button></td>
      </div>
    
  </div>
