<body>
  
<app-menu></app-menu>
<router-outlet></router-outlet>


  
<div class="banner">
  <div>
    <p>Hi, i'm Damian !<br>
    But you can call me Dami.<span>&#160;</span></p>
  </div>
  </div>

  <section id="about" >
    

  <app-about></app-about>


  <div class="title" >My experience</div>

    <div class="container" style="display: flex;">
      <app-dash></app-dash>
      <app-mostaza></app-mostaza>
    </div>

    <div class="title">Estudies</div>



    <div class="container" style="display: flex;">
      <app-utn></app-utn>
      <app-argprgm></app-argprgm>
    </div>



    <div class="container" style="margin-bottom: 40px; display: flex;">
      <app-eest></app-eest>
      <app-idua></app-idua>
    </div>
    


<div class="title">Hard-skills</div>
<div class="container">
<div class="card">
  <div class="skills">
    <div class="ditail">
      <img class="skills-logo" src="/assets/img/html.png">
      <p>40%</p>
    </div>
    <div class="menu">
      <div id="html-menu"></div>
    </div>
  </div>
  <div class="skills">
    <div class="ditail">
      <img style="padding-left: 7px;" src="/assets/img/CSS.png" class="skills-logo">
      <p>30%</p>
    </div>
    <div class="menu">
      <div id="css-menu"></div>
    </div>
  </div>
  <div class="skills">
    <div class="ditail">
      <img class="skills-logo" src="/assets/img/angular.png">
      <p>20%</p>
    </div>
    <div class="menu">
      <div id="angular-menu"></div>
    </div>
  </div>
  <div class="skills">
    <div class="ditail">
      <img class="skills-logo" src="/assets/img/java.png">
      <p>20%</p>
    </div>
    <div class="menu">
      <div id="java-menu"></div>
    </div>
  </div>
  <div class="skills">
    <div class="ditail">
      <img class="skills-logo" src="/assets/img/javascript.png">
      <p>20%</p>
    </div>
    <div class="menu">
      <div id="javascript-menu"></div>
    </div>
  </div>
  <div class="skills">
    <div class="ditail">
      <img class="skills-logo" src="/assets/img/spring.png">
      <p>20%</p>
    </div>
    <div class="menu">
      <div id="spring-menu"></div>
    </div>
  </div>
  <div class="skills">
    <div class="ditail">
      <img class="skills-logo" src="/assets/img/mysql.png">
      <p>20%</p>
    </div>
    <div class="menu">
      <div id="mysql-menu"></div>
    </div>
  </div>
  <div class="skills">
    <div class="ditail">
      <img class="skills-logo" src="/assets/img/github.png">
      <p>35%</p>
    </div>
    <div class="menu">
      <div id="github-menu"></div>
    </div>
  </div>
</div>
</div>

<div class="title">Soft-skills</div>
<div class="container">
<div class="card">
  <div class="title" style="padding: 10px;">Languajes</div>
  <div class="skills">
    <div class="ditail">
      <img class="skills-logo" src="/assets/img/england.png">
      <p>40%</p>
    </div>
    <div class="menu">
      <div id="html-menu"></div>
    </div>
  </div>
  <div class="skills">
    <div class="ditail">
      <img class="skills-logo" src="/assets/img/arg.png">
      <p>90%</p>
    </div>
    <div class="menu">
      <div id="argentina-menu"></div>
    </div>
  </div>

  <div class="title"></div>
</div>
</div>



<div id="proyects">
<div class="title">My projects</div>
<div class="container">
<app-project-potatoe></app-project-potatoe>
<app-first-atempp></app-first-atempp>
<app-hmf></app-hmf>

</div>

</div>
</section>
<app-footer></app-footer>
</body>

