

.nav-link {
    padding: 20px;

}
a{
    text-decoration: none;
    color:black;
}



@media (max-width:700px){
    .head {
        flex-direction: column;
    }
    .content {
        flex-direction: column;
    }
}

*{
    font-family: 'IBM Plex Mono', monospace ;
}

.banner {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    padding-bottom: 150px;
}
.banner p {
   position: relative;
}
.banner span {
    position: absolute;
    right: 0;
    width: 0;
    border-left: 2px solid black;
    animation: machine 4s steps(25);
    background-color: rgb(255, 255, 255);
    z-index: 2;
}
.card {
    
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    
    justify-content: center;
    width: 900px;
    margin: 40px;
}
#about{
    background-image: linear-gradient(120deg, #ffffff 0%, #5e5e5e 100%);
    display: row;
    padding-top: 40px;
    padding: 40px;
}
.profile-photo {
    
    padding:20px 20px 20px;
    height: 300px;
    width: 300px;
    align-self: center;
}
.title {
    font-size: 30px;
    display: flex;
    justify-content: center;

}

.content {
    align-self: center;
}



.company-photo {
    height: 70px;
    align-items: center; 

    border-radius: 10px;
}
.container {
    justify-content: center;
    display: flex;
}


.skills { 
    display: row;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
.ditail {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.menu {
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    height: 5px;
}
.menu div {
    position: relative;
    width: 0px;
    height: 5px;
    background-color: black;
}

.skills-logo {
    height: 50px;
    align-items: center; 
    justify-self: center;
    border-radius: 10px;
}


.contacts {
    padding: 40px;
    display: flex;
    justify-content: center;
}   


/*animations*/


 #html-menu{
    animation: html-barra 2s forwards;
 }
 #css-menu {
    animation: css-barra 2s forwards;
 }
 #angular-menu {
    animation: angular-barra 2s forwards;
 }
 #java-menu {
    animation: java-barra 2s forwards;
 }
 #javascript-menu {
    animation: javascript-barra 2s forwards;
 }
 #spring-menu {
    animation: spring-barra 2s forwards;
 }
 #mysql-menu{
    animation: mysql-barra 2s forwards;
 }
 #argentina-menu{
    animation: argentina-barra 2s forwards;
 }
 #github-menu{
    animation: github-barra 2s forwards;
 }
 @keyframes html-barra {
    100%{
        width: 40%;
    }
 }

 @keyframes css-barra {
    100%{
        width: 30%;
    }
 }
 @keyframes angular-barra {
    100%{
        width: 20%;
    }
 }
 @keyframes java-barra {
    100%{
        width: 20%;
    }
 }
 @keyframes javascript-barra {
    100%{
        width: 20%;
    }
 }
 @keyframes spring-barra {
    100%{
        width: 20%;
    }
 }
 @keyframes mysql-barra {
    100%{
        width: 20%;
    }
 }
 @keyframes argentina-barra {
    100%{
        width: 90%;
    }
 }
 @keyframes github-barra {
    100%{
        width: 35%;
    }
 }
 @keyframes machine {
    from {
        width: 100%;
    }
    to {
        width: 05;
    }
    
 }
 a:hover{
    transform: translateY(-5px);
 }

 a{
    transition: transform 0.3s;
 }
.nav-link:hover{
    color:rgb(196, 196, 196);
    
}
html{
    scroll-behavior:smooth;
}
.gitbutton:hover {
    transform: translateY(-5px);
}