<div class="mini-card"[ngStyle]="{ 'height': isAdmin ? '620px' : '' }">
    <div class="title">{{carta?.title}}</div>
    <p>{{carta?.texto}}
    </p>
    <img class="project-photo" src="https://raw.githubusercontent.com/DamianDubra/Portfolio-Damian-Dubra/master/img/Proyect%20potatoe.png">
    <p>{{carta?.texto10}}</p>
    <a href="https://github.com/DamianDubra/Potatoe-project.git"><button class="button buttonback">Files</button></a>
    <hr *ngIf="isAdmin" class="line">
    <div style="display: flex;justify-content: space-around;"><td *ngIf="isAdmin"><button class="button buttongreen" routerLink="/editar/{{carta?.id}}"> Editar</button></td>
      <td *ngIf="isAdmin"><button class="button buttonred" (click)="borrar(carta?.id)">Eliminar</button></td>
      </div>
  </div>